body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color:#eae4e9;
}
/*##############################
######## Header start here ########
################################ */
header {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 34px;
    color: #023047;
    font-weight: bold;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
header ul li a {
    color: #023047;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 35px;
    padding: 8px 24px;
    font-weight: bold;
}
header nav ul li:nth-child(3) {
    background-color: #d3ab9e;
    border-radius: 6px;
    margin-left: 20px;
}
/* ############################ */
/* Mobile Menu part start here */
/* ############################ */
.mobile-nav {
    display: none;
}

/*##############################
######## Hero start here ########
################################ */
.container-hero {
    background: linear-gradient(rgb(220, 200, 179), rgba(146, 146, 150, 0.519)), url(../img/Thank-you-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container-hero .container-hero-content{
    width: 0%;
    margin: auto;
    padding-right: 350px;
}
.container-hero .container-hero-content h2 {
    position: absolute;
    top: 250px;
    font-size: 70px;
    font-weight: 600;
    color: #023047;
}

/*##############################
######## Thank you section start here ########
################################ */
.container{
    position: absolute;
    top: 400px;
    text-align: center;
}
.container .container-content{

    padding-left:210px;
}
.container .container-content p{
    font-size: 35px;
    font-weight: 600;
    color: #063853;
}
.container .container-content a{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color: #023047;
    border: 2px solid #023047;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#d3ab9e;
    border-radius: 10px;
}
.container .container-content a:hover{
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color: #023047;
    border: 2px solid #023047;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:15px;
    padding-bottom:15px;
    background-color:#eae4e9;
    border-radius: 10px;
    transition: 0.7s;
}

 /*#######################################
######## Footer section start here ########
######################################### */
footer{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #797d62;
    height: 100px;
    justify-content: center;
    place-items: center;
}
footer p{
    color: #eae4e9;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

 /*#######################################
######## Footer section start here ########
######################################### */
footer{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #797d62;
    height: 100px;
    justify-content: center;
    place-items: center;
}
footer p{
    color: #eae4e9;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

 /*#######################################
######## Mobile device start here ########
######################################### */
@media(max-width:767px){

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        background-color:#eae4e9;
    }
 /* ############################ */
/* Mobile Menu part start here */
/* ############################ */
header{
    display: none;
}
.mobile-nav {
    display: block;
}
.mobile-nav .brand-name{
    margin-top: -25px;
    margin-left: 20px;
}
.mobile-nav .brand-name a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.mobile-nav-icon{
    text-align: end;
}
.mobile-nav-icon span {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    background-color: #797d62;
    width: 100%;
    float: right;
    margin-top: -70px;
}
.overlay {
    width: 0;
    height: 100%;
    position: fixed;
    bottom:0;
    left:0;
    background: #faf6f6;
    z-index: 1;
    overflow-x: hidden;
    transition: .4s;
}
.overlay-content a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.overlay-content a:hover{
    text-decoration: none;
    font-size: 16px;
    color: #747171;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
.overlay-content{
    position: relative;
    top: 30%;
}
.closebtn{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

    /*#######################################
    ######## Hero section start here ########
    ######################################### */
    .container-hero {
        margin-top: -25px;
        height: 720px;
        margin-bottom: 50px;
      }
      .container-hero .container-hero-content h2 {
        position: absolute;
        top: 265px;
        left: 110px;
        font-size: 30px;
        font-weight: 600;
        color: #023047;
      }          
   
/*################################################
######## Thank you section start here ########

################################################## */
.container {
    position: absolute;
    top: 320px;
    text-align: center;
  }
  .container .container-content {
    padding-left: 0px;
  }
  .container .container-content p {
    font-size: 18px;
    font-weight: 500;
    color: #063853;
  }
  .container .container-content a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    color: #023047;
    border: 2px solid #023047;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d3ab9e;
    border-radius: 10px;
  }

 /*#######################################
######## Footer section start here ########
######################################### */
footer{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #797d62;
    height: 80px;
    justify-content: center;
    place-items: center;
    margin-top: -80px;
}
footer p{
    color: #eae4e9;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

}